@import url("reset.css");
body{
    background: url(../images/bg0.jpg) no-repeat;
    background-size: cover;
}
h1{
        color: rgb(255, 0, 0);
        font-size: 70px;
    }
h2{
    display: none;
}
h3{
    display: none;
}
/* 1200px */
@media (max-width:1200px){
    body{
        background:url(../images/bg1.jpg) no-repeat;
        background-size: cover;
    }
}
/* 1000px */
@media (max-width:1000px){
    body{
        background:url(../images/bg2.jpg) no-repeat;
        background-size: cover;
    }
}
/* 768px > 태블릿 */
@media (max-width:768px){
    body{
        background:url(../images/bg3.jpg) no-repeat;
        background-size: cover;
    }
    h1{
        color: rgb(0, 68, 255);
        font-size: 50px;
    }
    h2{
        display: block;
    }
}
/* 480px */
@media (max-width:480px){
    body{
        background:url(../images/bg0.jpg) no-repeat;
        background-size: cover;
    }
}
/* 390px */
@media (max-width:390px){
    body{
        background:url(../images/bg1.jpg) no-repeat;
        background-size: cover;
    }
    h1{
        color: yellow;
        font-size: 25px;
    }
    h3{
        display: block;
    }
    h2{
        display: none;
    }
}